<footer class="footer d-flex align-items-center justify-content-center">
    <div class="footer-container d-flex align-items-center justify-content-center">
        <ul class="navbar-nav d-flex flex-row align-items-center gap-4 m-0">
            <li class="nav-item" *ngFor="let link of links">
                <a class="nav-link" [routerLink]="link.url" routerLinkActive="active" >
                    {{ link.name }}
                </a>
            </li>
           

        </ul>
    </div>
</footer> 