<app-categories-section/>
<div class="articles-container container mb-4">
  <app-article-card 
    (click)="setArticleIdInService(article.id)"
    *ngFor="let article of listOfArticle"
    [article]="article"
    >
  </app-article-card>
</div>

<nav *ngIf="totalPages > 1 && listOfArticle.length>=3" aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination pagination-rounded">
    <li class="page-item" [class.disabled]="pageNumber === 1">
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li 
      *ngFor="let page of [].constructor(totalPages); let i = index" 
      class="page-item" 
      [class.active]="pageNumber === (i+1)">
      <a class="page-link" (click)="goToPage(i+1)">
        {{ i+1 }}
      </a>
    </li>

    <li class="page-item" [class.disabled]="pageNumber === totalPages">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
