<section class="all-content">
    <div class="sid-nav" [ngClass]="{'toggle':isToggele}">
        <div class="logo-in-nav">
            <h3 *ngIf="!isToggele" [routerLink]="['']" class="logo">
                HotLine
           
            </h3>
            <span ><i (click)="toggeleView()" class="fa fa-solid fa-bars"></i></span>
        </div>
        <p *ngIf="!isToggele" >Navigation</p>
        <div *ngIf="!isToggele"  class="block-nav">
            <ul class="nav nav-pills flex-column">
                <li  appActiveLink *ngFor="let link of links" class="nav-item ">
                    <a [routerLink]="link.url" class="nav-link">
                        <i class="fa fa-home"></i>
                        {{link.name}} </a>
                </li>
                <li></li>
               
            </ul>
        </div>
    
    </div>
   

</section>