.all-content{
   
     height: 100vh;
     width: max-content;
}
.all-content .sid-nav{
    height: 100%;
    background-color: #1d2d3d;
    width:250px;
    color:white;
    display: block;
    padding: 1rem;
    transition: 0.3s;
    &.toggle{
        width: max-content;
    }

}
.all-content .sid-nav .logo-in-nav{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.all-content .sid-nav .logo-in-nav h3{
font-weight: bolder;

}
.all-content .sid-nav .logo-in-nav i{
    font-size: 2rem;
    cursor: pointer;
}
.all-content .sid-nav p {
    font-size:1.2rem;
    text-transform: uppercase;
}
// .all-content .sid-nav .block-nav{

// }
.all-content .sid-nav .block-nav ul li{
    transition: ease 0.3s;
}
.all-content .sid-nav .block-nav ul li:hover{
    background-color: #1d1d1d;
    border-radius: 0.5rem;

}
.all-content .sid-nav .block-nav .nav-link{
    color:#ccc ;
}
.active{
    font-weight: bold;
    font-size: 1.3rem;
}
.logo{
    cursor: pointer;
}

