header{
    border-bottom: 1px solid #eee;
}
.main-container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bolder;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 5px;
}
i{
    font-size: 1.2rem;
    color: #6b6b6b;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: none;
    border-top-left-radius:2rem ;
    border-bottom-left-radius: 2rem;
    position: absolute;
    left: 0;
}
.search{
    position: relative;
}
.search input {
    border-radius: 2rem;
    padding-left: 40px;
    border: none;
    background: #f6f6f6;
    &:focus{
        border: none;
    }
}

 


